body {
    font-family: Arial, sans-serif;
    background-color: #fafafc;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color: #b62323;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #007BFF;
}

form {
    margin: 20px auto;
    width: 300px;
    padding: 10px;
    border: 1px solid #d1b9e7;
    background-color:#d1b9e7 
}